CONNECTIONSTRING=postgresql://neondb_owner:npg_qBbu6zIUWTS4@ep-young-dust-aq76qs2o.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require
PORT=5000
JWT_ACCESS_SECRET=dsjj54d52e5fds455fd41dewr4z56bb567hpo4qw1dacxz5521djhdsf45sdjhfj545
JWT_REFRESH_SECRET=fs4584b45p545r6587uw9ap5cfs149sh65dfhyfuewf5678fsfhfdsfg8g76g4df5f65k4u56